:root {
  --green: hsl(75, 94%, 57%);

  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-VariableFont.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  font-family: "Inter", "Courier New", Courier, monospace;
  font-size: 14px;
  color: var(--white);
  background-color: var(--grey-900);
}

#main-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.social-links-card {
  background-color: var(--grey-800);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 10px;
  width: clamp(18rem, 90%, 24rem);
}

.social-links-card img {
  border-radius: 100%;
  object-fit: cover;
  max-height: 6rem;
}

.socials-header {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  font-weight: 700;
  text-align: center;
}

.socials-header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.socials-location {
  color: var(--green);
  font-size: 1em;
}

.socials-description {
  font-size: 1em;
  text-align: center;
}

.links-list {
  align-self: stretch;
}

.links-list ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  font-weight: 700;
}

.links-list li {
  display: flex;
}

.links-list a {
  background-color: var(--grey-700);
  text-align: center;
  font-size: 1em;
  color: var(--white);
  padding: 1rem 0;
  border-radius: 5px;
  transition: all 0.2s ease;
  flex: 1;
}

.links-list a:hover {
  background-color: var(--green);
  color: var(--grey-900);
}

.links-list a:focus {
  outline: 2px solid var(--green);
  outline-offset: 2px;
}
